<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Lyric</title>
    <link href="/public/stylesheets/style.css" rel="stylesheets" type="text/css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Lyric</h1>
    <form action="/users/<%=user._id%>/lyrics" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">

        <label for="artist">Artist:</label>
        <input type="text" name="artist" id="artist">

        <label for="lyrics">Lyrics:</label>
        <textarea name="lyrics" id="lyrics"></textarea>
        <button type="submit">Add Lyric</button>
    </form>
</body>
</html>