<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lyrically</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<%- include('./partials/_navbar.ejs') %>
<body class="index-body">
  <div class="main-header">
    <h1>Lyrically</h1>
  </div>
 <p>An application for adding your favorite song lyrics!</p>
</body>
</html>
