.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    margin:  0 0 0 0;
    padding: -20px -20px 0 20px;
    justify-content: space-between;
    align-items: center;
   }
  h1 {
    -webkit-text-stroke-color: #c1c1c1;
  }
   #nav-header {
    color: #A63d40;
    size: 1 em !important;
    margin: 0;
    -webkit-text-stroke-width: thin;
   }
  
   .authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #c1c1c1;
    font-weight: bold;
   }
  
   .authlink:hover {
    color: white;
   }
  .authlink:active {
    color: #A63d40;
  }